
.theme{
    text-align: right;
    padding: 5px;
    margin-top: 10px;
}
.forms{
    text-align: center;
}
.error{
    text-align: center;
    color: brown;
    font-size: medium;
}
.btn-submit{
    background-color:  #008CBA;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.btn-theme{
    padding: 0;
    border-radius: 15px;
    border: none;
}
.Card{
    margin-top: 120px;
    margin-left: 400px;
    height: 400px;
    width: 600px;
    background: rgba(130, 104, 104, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(237, 237, 237, 0.46);
    padding:30px;
}